.App {
  display: flex;
  flex-direction: column; 
  margin: .5em
}

.App div {
  margin: .5em
}

.MuiPaper-root
{
  max-height: 640px !important;
}

.light {
 color:black;
 background-color: white;
}

.dark {
  color:white;
  background-color: darkgray;
}