.App {
  display: flex;
  flex-direction: column; 
  margin: .5em
}

select, .App div {
  width: 25%;
  margin: .5em auto;
}

.light {
 color:black;
 background-color: white;
}

.dark {
  color:white;
  background-color: darkgray;
}